/*******************************
*
* Author: Wiola
* Date: 12.05.19
*
*********************************/

#header p{
    text-transform: capitalize;
}

body{
    text-transform: uppercase;
}

body > p{
     text-transform: none;
}