/*******************************
*
* Author: Wiola
* Date: 11.05.19
*
*********************************/

article{
    font-size: 16px;
}

article h2{
    font-size: 3em;
}

article p{
    font-size: 50%;
}